<% userpost.each do |post| %>

    <article class="card">
      <h2>
        <a href="/streetart/<%= post['id'] %>">
        <div class = "title">
            <%= post['title'] %>
            </div>
        </a>
        <%= post['location'] %>
        
      </h2>
      <img src="<%= post['image_url'] %>" alt="<%= post['name'] %>">

    </article>
    <h2>
    <%= post['caption'] %>
    </h2>


  <% end %>
